.hero-label {
  text-align: left;
  display: block;
  font-size: 24px;
}

.hero-label__container {
  text-align: right;
}

.hero-label__label {
  display: block;
  padding-left: 17px;
}

.hero-label__input {
  display: block;
  padding: 0 15px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

.hero-goback {
  transition: all;
  transition-duration: .02s;
  transition-timing-function: ease-in-out;
  font-family: 'Poor Story';
  font-size: 24px;
  color: #3b2530;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero-goback:hover {
  color: #cd5c5c;
}