.hero-list {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}

.hero-list__item {
  transition: all;
  transition-duration: .02s;
  transition-timing-function: ease-in-out;
  font-size: 24px;
  margin-bottom: 5px;
  cursor: pointer;
}

.hero-list__item_selected {
  color: #c76574;
}

.hero-list__item:hover {
  color: #c76574;
}

.hero-list__item_selected 
.hero-list__item-content {
  border-radius: 50px;
  background-color: #f0d1d1;
}

.hero-list__item-content {
  padding: 5px 10px;
}